<%- include("header") -%> 

<body>

    <div class="box" id="heading">
        <h1><%=ListTitle %></h1>
    </div>

    <div class="box" >

        <% newListItem.forEach((item) => { %>
            <form action="/delete" method="post">

                <div class="item">
                    <input name="checkbox" value="<%= item._id %>" type="checkbox" onChange="this.form.submit()" >
                    <p class="item"> <%= item.name %> </p>
                </div>
        
            </form>
        <% }) %>
               
    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= ListTitle %> >+</button>
    </form> 

    </div>

</body>
<%- include("footer") -%> 